@font-face {
    font-family: guilherme;
    src:  Creamy.ttf;
}
    

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    color: rgb(4, 4, 4);
    font-size: 50px;
  
    
}
.relogio {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 3%;
    box-shadow: 0 0 15px 5px rgb(255, 254, 252);
    color: white;
}
h1 {
    font-size: 40px;
    margin: 4rem;
    color: rgba(255, 255, 255, 0.858);
  font-family: guilherme;
}

.frase{
    font-family: guilherme;
    font-size: 40px;
    margin: 4rem;
    color: rgba(255, 255, 255, 0.858);
}
 


